<div id="<%= dom_id tweet %>">

  <div class="card border-primary mb-3" style="max-width: 18rem;">
  <div class="card-header">
  
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
          <%= tweet.username %>
        </button>
        
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">
                <%= tweet.username %>
                </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <%= tweet.description %>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                <button type="button" class="btn btn-light">
                <%= link_to "Edit this tweet", edit_tweet_path(tweet) %>
                </button>

                <%= button_to "Delete tweet", tweet, method: :delete %>

              </div>
            </div>
          </div>
        </div>

  </div>
  <div class="card-body text-primary">
    <p class="card-text">
    <%= tweet.description %>
    </p>
  </div>
</div>

</div>

