<p style="color: green"><%= notice %></p>

<h1>Clon Tweets</h1>

<h1>Tweets <span class="badge bg-secondary">
<%= link_to "New", new_tweet_path %>
</span></h1>


<%= form_with url: tweets_path, method: :get do |form|%>
  <%= form.text_field :query_text, placeholder: t('Query text'), value: params[:query_text]%>
 <%end%>

<div id="tweets">
  <% @tweets.each do |tweet| %>
    <%= render tweet %>
  <% end %>
</div>

<%=raw pagy_nav(@pagy)%>


