<p style="color: green"><%= notice %></p>

<h1>Tweets</h1>

<%= link_to "New tweet", new_tweet_path %>

<%= form_with url: tweets_path, method: :get do |form|%>
  <%= form.text_field :query_text, placeholder: t('Query text'), value: params[:query_text]%>
 <%end%>

<div id="tweets">
  <% @tweets.each do |tweet| %>
    <%= render tweet %>
    <p>
      <%= link_to "Show this tweet", tweet %>
      <%= link_to "Edit this tweet", edit_tweet_path(tweet) %>
      <%= button_to "Destroy this tweet", @tweet, method: :delete %>
    </p>
  <% end %>
</div>

<%=raw pagy_nav(@pagy)%>


